# comma separated list of Ollama-compatible servers.
# you can use schlaubox here as well. 

OLLAMA_URLS=http://127.0.0.1:11434 # local
# OLLAMA_URLS=http://intern.schlaubox.de:11434 # schlaubox
# OLLAMA_URLS="http://localhost:11434, http://intern.schlaubox.de:11434" # multiple

LLM_MODEL_OLLAMA=gemma3:1b
# equivalent to -> LLM_MODEL 

# for schlaubox, the following models are available: 
# llama3.3:70b (default), llama3:70b,
# llama3:8b, qwen3:32b, qwen3:8b, deepseek-r1:32b, 
# deepseek-r1:8b, deepseek-r1:7